button {
  background-color: white;
  border-radius: 6px;
  /* padding: ; */
  margin-bottom: 0px;
}

button:hover {
  cursor: pointer;
}

a {
  font-weight: bold;
  color: #444444;
}

body.dark a {
  color: #e5e5e5;
}